* {
  margin: 0;
  padding: 0;
  block-size: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}

.df {
  display: flex;
  align-items: center;
}

body {
  background-color: rgb(21, 21, 21);
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.counter__btns {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.number__counter {
  padding-top: 200px;
  text-align: center;
  width: 250px;
  padding: 100px;
  background-color: blue;
  border-radius: 25px;
}
.number__counter h1 {
  font-size: 90px;
  font-weight: 700;
  padding: 10px 0px;
  color: white;
}
.number__counter button {
  padding: 15px 40px;
  background-color: green;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  font-weight: 500;
}
.number__counter button img {
  width: 20px;
  align-items: center;
  display: flex;
}

.load {
  background-color: white;
  padding: 40px 0px;
  margin-top: 120px;
}
.load button {
  padding: 10px 20px;
  margin: 0 auto;
  display: block;
  background-color: blue;
  border-radius: 5px;
  border: none;
  color: white;
}

.loading {
  border: 2px solid gray;
  width: 600px;
  height: 100px;
  margin: 40px auto 10px;
  display: flex;
}
.loading__card {
  height: 80%;
  width: 30px;
  background-color: black;
  margin: 10px 5px;
}
.loading__title {
  font-size: 40px;
  text-align: center;
}