.load {
  background-color: white;
  padding: 40px 0px;
  margin-top: 120px;
  button {
    padding: 10px 20px;
    margin: 0 auto;
    display: block;
    background-color: blue;
    border-radius: 5px;
    border: none;
    color: white;
  }
}

.loading {
  border: 2px solid gray;
  width: 600px;
  height: 100px;
  margin: 40px auto 10px;
  display: flex;
  &__card {
    height: 80%;
    width: 30px;
    background-color: black;
    margin: 10px 5px;
  }

  &__title {
    font-size: 40px;
    text-align: center;
  }
}
